<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Table</title>
</head>
<body>
    <h1>Lista de companii</h1>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Denumire companie</td>
                <td>Adresa</td>
                <td>Numar de inregistrare</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "companyList : ${list}">
                <td th:text = "${companyList.id}"></td>
                <td th:text = "${companyList.name}"></td>
                <td th:text = "${companyList.address}"></td>
                <td th:text = "${companyList.registrationNumber}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>